<div class="greetings">
    <img src="/main/resources/images/logo.png"/><br/>
    Welcome to SmartBlocks
</div>
<div class="headline">
    If you see this page, it means your SmartBlocks installation worked !
</div>
<div class="information">
    <p>
        So what have we here ?
    </p>

    <p>
        This is the default "home" application created by the command :
    <pre><span class="prompt">.../yourproject/$</span> smartblocks init [project-name]</pre>

    </p>
    <p>
        It is hosted in the default block "main". This block's aim is to unify the features and apps of all your other
        blocks.
    </p>

    <p>
        In this block, you'll put stuff like global stylesheets, the homepage, the about us page and so on. All the
        stuff
        that is really specific to the website being developped.
    </p>
    <h4>All right. Why create other blocks then ?</h4>

    <p>
        In other blocks, you'll put features and apps that can be reused for future projects. For example, if you need
        a "Contact Us" page, with a form that saves messages in the database, this feature can be reused in other
        websites,
        and even shared with the community.<br/>
        To create such a block, say you want to call it "contact", you'll have to run the following command :
        <pre><span class="prompt">.../yourproject/$</span> smartblocks create_block contact</pre>
    </p>
    <p>
        This will create the basis structure for the block.
    </p>
</div>